
body, html, .body{
    height: 100% !important;
    width: 100% !important;
    padding: 0%;
    margin: 0%;
}

.margin-top-md{
    margin-top: 10px;
}

.margin-botton-sm{
    margin-bottom: 10px;
}

.margin-botton-lg{
    margin-bottom: 100px;
}

.img-1{
    width: 10%;
}

.img-6{
    width: 50%;
}

label{
    margin-top: 20px;
}